name: 'Infra - CI/CD'

on:
  pull_request:
    paths:
      - 'infra/**'
      - '.github/**/**infra.yaml'

  push:
    branches:
      - 'main'
    paths:
      - 'infra/**'
      - '.github/**/**.infra.yaml'

jobs:
  validate_dev:
    name: Validate DEV
    uses: ./.github/workflows/deploy.infra.yaml
    with:
      env_key: DEV
      test_message: Hello DEV
      validate: true
    secrets:
      azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}

  deploy_dev:
    name: Deploy DEV
    needs: validate_dev
    uses: ./.github/workflows/deploy.infra.yaml
    with:
      env_key: DEV
      test_message: Hello DEV
      validate: false
    secrets:
      azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}

  validate_test:
    name: Validate TEST
    needs: deploy_dev
    uses: ./.github/workflows/deploy.infra.yaml
    with:
      env_key: TEST
      test_message: Hello TEST
      validate: true
    secrets:
      azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}

  deploy_test:
    name: Deploy TEST
    needs: validate_test
    uses: ./.github/workflows/deploy.infra.yaml
    with:
      env_key: TEST
      test_message: Hello TEST
      validate: false
    secrets:
      azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}

  validate_prd:
    name: Validate PRD
    needs: deploy_test
    uses: ./.github/workflows/deploy.infra.yaml
    with:
      env_key: PRD
      test_message: Hello PRD
      validate: true
    secrets:
      azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}

  deploy_prd:
    name: Deploy PRD
    needs: validate_prd
    uses: ./.github/workflows/deploy.infra.yaml
    with:
      env_key: PRD
      test_message: Hello PRD
      validate: false
    secrets:
      azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}
