name: 'Infra - CI/CD'

on:
  pull_request:
    paths:
      - 'infra/**'
      - '.github/**/**infra.yaml'

  push:
    branches:
      - 'main'
    paths:
      - 'infra/**'
      - '.github/**/**.infra.yaml'

jobs:
  validate_dev:
    name: Validate DEV
    runs-on: ubuntu-latest
    environment: DEV
    env:
      env_key: DEV
    steps:
      - name: Validate Deploy to ${{ env.env_key }}
        uses: ./.github/actions/deploy.infra.yaml
        with:
          env_key: ${{ env.env_key }}
          test_message: Hello ${{ env.env_key }}
          azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}
          validate: true

  deploy_dev:
    name: Deploy DEV
    needs: validate_dev
    runs-on: ubuntu-latest
    environment: DEV
    env:
      env_key: DEV
    steps:
      - name: Deploy to ${{ env.env_key }}
        uses: ./.github/actions/deploy.infra.yaml
        with:
          env_key: ${{ env.env_key }}
          test_message: Hello ${{ env.env_key }}
          azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}
          validate: false

  deploy_test:
    name: Deploy TEST
    if: github.ref_name == 'main'
    needs: deploy_dev
    uses: ./.github/workflows/deploy.infra.yaml
    with:
      environment: TEST
      test_message: 'Hello TEST environment!'

  deploy_prd:
    name: Deploy PRD
    if: github.ref_name == 'main'
    needs: deploy_test
    uses: ./.github/workflows/deploy.infra.yaml
    with:
      environment: PRD
      test_message: 'Hello PRD environment!'
