name: 'Infra - CI/CD'

on:
  pull_request:
    paths:
      - 'infra/**'
      - '.github/**/**infra.yaml'

  push:
    branches:
      - 'main'
    paths:
      - 'infra/**'
      - '.github/**/**.infra.yaml'

jobs:
  validate_dev:
    name: Validate DEV
    runs-on: ubuntu-latest
    environment: DEV
    env:
      env_key: DEV
    steps:
      - name: Run Checkout GitHub Action
        uses: actions/checkout@v1
      - name: Validate Deploy to ${{ env.env_key }}
        uses: ./.github/workflows/deploy.infra.yaml
        with:
          env_key: ${{ env.env_key }}
          test_message: Hello ${{ env.env_key }}
          azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}
          validate: true

  deploy_dev:
    name: Deploy DEV
    needs: validate_dev
    runs-on: ubuntu-latest
    environment: DEV
    env:
      env_key: DEV
    steps:
      - name: Run Checkout GitHub Action
        uses: actions/checkout@v1
      - name: Deploy to ${{ env.env_key }}
        uses: ./.github/workflows/deploy.infra.yaml
        with:
          env_key: ${{ env.env_key }}
          test_message: Hello ${{ env.env_key }}
          azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}
          validate: false

  validate_test:
    name: Validate TEST
    needs: deploy_dev
    runs-on: ubuntu-latest
    environment: TEST
    env:
      env_key: TEST
    steps:
      - name: Validate Deploy to ${{ env.env_key }}
        uses: ./.github/workflows/deploy.infra.yaml
        with:
          env_key: ${{ env.env_key }}
          test_message: Hello ${{ env.env_key }}
          azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}
          validate: true

  deploy_test:
    name: Deploy TEST
    needs: validate_test
    runs-on: ubuntu-latest
    environment: TEST
    env:
      env_key: TEST
    steps:
      - name: Deploy to ${{ env.env_key }}
        uses: ./.github/workflows/deploy.infra.yaml
        with:
          env_key: ${{ env.env_key }}
          test_message: Hello ${{ env.env_key }}
          azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}
          validate: false

  validate_prd:
    name: Validate PRD
    needs: deploy_test
    runs-on: ubuntu-latest
    environment: PRD
    env:
      env_key: PRD
    steps:
      - name: Validate Deploy to ${{ env.env_key }}
        uses: ./.github/workflows/deploy.infra.yaml
        with:
          env_key: ${{ env.env_key }}
          test_message: Hello ${{ env.env_key }}
          azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}
          validate: true

  deploy_prd:
    name: Deploy PRD
    needs: validate_prd
    runs-on: ubuntu-latest
    environment: PRD
    env:
      env_key: PRD
    steps:
      - name: Deploy to ${{ env.env_key }}
        uses: ./.github/workflows/deploy.infra.yaml
        with:
          env_key: ${{ env.env_key }}
          test_message: Hello ${{ env.env_key }}
          azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}
          validate: false
