name: 'Infra - CI/CD'

on:
  pull_request:
    paths:
      - 'infra/**'
      - '.github/**/infra**.yaml'

  push:
    branches:
      - 'main'
    paths:
      - 'infra/**'
      - '.github/**/infra**.yaml'

  workflow_dispatch:

jobs:
  deploy_dev:
    name: Deploy to DEV
    uses: ./.github/workflows/infra-deploy.yaml
    with:
      gha_env: DEV-INFRA
      env_key: dev
      project_key: afat
    secrets:
      azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}

  deploy_test:
    name: Deploy to TEST
    if: github.ref_name == 'main'
    needs: deploy_dev
    uses: ./.github/workflows/infra-deploy.yaml
    with:
      gha_env: TEST-INFRA
      env_key: test
      project_key: afat
    secrets:
      azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}

  deploy_prd:
    name: Deploy to PRD
    needs: deploy_test
    uses: ./.github/workflows/infra-deploy.yaml
    with:
      gha_env: PRD-INFRA
      env_key: prd
      project_key: afat
    secrets:
      azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}
