name: 'Infra - Deploy'

on:
  workflow_call:
    inputs:
      gha_env:
        required: true
        type: string

      env_key:
        required: true
        type: string

      project_key:
        required: true
        type: string

    secrets:
      azure_credentials:
        required: true

jobs:
  deploy_infra:
    name: Deploy Infra
    runs-on: ubuntu-latest
    environment: ${{ inputs.gha_env }}
    env:
      RG_NAME: rg-${{ inputs.env_key }}-${{ inputs.project_key }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v1

      - name: Azure Login
        uses: azure/login@v1.1
        with:
          creds: ${{ secrets.azure_credentials }}

      - name: Validate Azure Infra Deployment
        uses: azure/arm-deploy@v1
        with:
          deploymentName: ${{ env.RG_NAME }}-${{ github.run_number }}
          deploymentMode: Incremental
          resourceGroupName: ${{ env.RG_NAME }}
          template: ./infra/main.bicep
          parameters: ./infra/parameters/infra-${{ inputs.env_key }}.json
          additionalArguments: '--what-if'

      - name: Deploy Azure Infra
        if: ${{ success() }}
        uses: azure/arm-deploy@v1
        with:
          deploymentName: ${{ env.RG_NAME }}-${{ github.run_number }}
          deploymentMode: Incremental
          resourceGroupName: ${{ env.RG_NAME }}
          template: ./infra/main.bicep
          parameters: ./infra/parameters/infra-${{ inputs.env_key }}.json
